*.tgz
*.gz
.idea
*.iml
*.pem
*.csr
*.srl
*.iso
id_ed25519*
*.kubeconfig
binaries/generic-kuberouter-all-features.yaml
binaries/kube-apiserver
binaries/kube-controller-manager
binaries/kube-scheduler
binaries/kubelet
binaries/runc
binaries/kubernetes-dashboard-recommended.yaml
binaries/metrics-server-components.yaml
conformance/sonobuoy
sonobuoy_results.yaml