*.tgz
*.gz
*.iml
*.pem
*.csr
*.srl
*.iso
*.lock
*.kubeconfig
id_ed25519*
binaries/*.yaml
binaries/kube-controller-manager
binaries/kubelet
binaries/kube-apiserver
binaries/kube-proxy
binaries/kube-scheduler
binaries/runc
binaries/kubernetes-dashboard-recommended.yaml
binaries/metrics-server-components.yaml
conformance/sonobuoy
conformance/results
sonobuoy_results.yaml
generated/*