*.tgz
*.gz
.idea
*.iml
*.pem
*.csr
*.srl
*.iso
*.lock
id_ed25519*
*.kubeconfig
binaries/*.yaml
binaries/kube-apiserver
binaries/kube-controller-manager
binaries/kube-scheduler
binaries/kubelet
binaries/kube-proxy
binaries/kube-prometheus
binaries/runc
binaries/kubernetes-dashboard-recommended.yaml
binaries/metrics-server-components.yaml
conformance/sonobuoy
conformance/results
sonobuoy_results.yaml
test-workloads/strimzi/strimzi.io-install-latest.yaml
