extraManifests:
- apiVersion: v1
  kind: Service
  metadata:
    name: grafana-nodeport
  spec:
    ports:
    - name: http
      nodePort: 30300
      port: 3000
      protocol: TCP
      targetPort: 3000
    selector:
      app.kubernetes.io/instance: kube-prometheus
      app.kubernetes.io/name: grafana
    type: NodePort
- apiVersion: v1
  kind: Service
  metadata:
    name: prometheus-nodeport
  spec:
    ports:
    - name: http
      nodePort: 30900
      port: 9090
      protocol: TCP
      targetPort: 9090
    selector:
      app.kubernetes.io/name: prometheus
    type: NodePort

grafana:
  adminPassword: admin

coreDns:
  service:
    selector:
      k8s-app: coredns

prometheus:
  prometheusSpec:
    maximumStartupDurationSeconds: 60
    serviceMonitorSelector: {}
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelector: {}
    podMonitorSelectorNilUsesHelmValues: false
    ruleNamespaceSelector: {}
    ruleSelector: {}
    ruleSelectorNilUsesHelmValues: false
