# ignore everything except sda when auto partitioning
ignoredisk --only-use=sda

# clear all existing partitions on sda device
clearpart --drives=sda --all

# creates a root partition (1 GB or larger), a swap partition, and an appropriate /boot
# partition for the architecture.
autopart --type=plain

# docs say this sets the timeout before the default boot is selected but - affects the
# installed OS (i.e. on second boot and thereafter) rather than the kickstart startup
# which always takes 60 seconds...
bootloader --timeout=5

# don't run the setup agent on first boot
firstboot --disabled

# agree the EULA
eula --agreed

# Shutdown after installation
shutdown

# text install
text

# use CDROM installation media
cdrom

# keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# system language
lang en_US.UTF-8

# this could either be the NAT network or the bridged network. Both have identical representation in the kickstart
# file. The host only network will be configured by the desktop-kubernetes service. Since we're only setting up a
# template VM to clone from and when the clones are created - their hostnames will be changed to match their VM
# names so this hostname doesn't mean anything
network --bootproto=dhcp --device=enp0s3 --onboot=on --ipv6=auto --hostname=cloneme

# required CentOS / Rocky repo
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream

# root password
rootpw frobozz

# system time zone. --utc means the system clock is UTC, which can be verified with 'sudo hwclock'
timezone America/New_York --utc

# no selinux
selinux --disabled

%packages
@Core
chrony
# util-linux for blkid
util-linux
# net-tools for network debugging
net-tools
%end

# post-install section
# 1) Copy the desktop-kubernetes service unit and associated script from the same ISO that holds this
#    kickstart script, and configure the service so it starts on the next boot, and does the unattended guest
#    additions install. This helped me:
#    https://unix.stackexchange.com/questions/513008/copying-files-from-bootable-usb-to-local-drive-in-post-script-of-kickstart
# 3) Initialize ssh by copying the public key from the ISO to /root/.ssh/authorized_keys

%post --interpreter=/bin/bash --log=/root/kickstart.log
mkdir /mnt/myks
mount /dev/disk/by-label/OEMDRV /mnt/myks
cp /mnt/myks/desktop-kubernetes.sh /root/ && chmod +x /root/desktop-kubernetes.sh
cp /mnt/myks/desktop-kubernetes.service /etc/systemd/system/desktop-kubernetes.service
mkdir -p /root/.ssh && cp /mnt/myks/id_ed25519.pub /root/.ssh/authorized_keys
umount /mnt/myks
rm -rf /mnt/myks
systemctl enable desktop-kubernetes
# next time the system starts it will run desktop-kubernetes.sh
%end

# password policy
%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
