[Unit]
Description=Install VBox guest additions on boot
After=default.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/bash /root/desktop-kubernetes.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
