[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
Type=notify
ExecStart=/usr/local/bin/etcd\
  --advertise-client-urls=https://INTERNAL_IP:2379\
  --cert-file=/etc/etcd/kubernetes.pem\
  --client-cert-auth\
  --data-dir=/var/lib/etcd\
  --initial-advertise-peer-urls=https://INTERNAL_IP:2380\
  --initial-cluster=ETCD_NAME=https://INTERNAL_IP:2380\
  --initial-cluster-state new\
  --initial-cluster-token=etcd-cluster-0\
  --key-file=/etc/etcd/kubernetes-key.pem\
  --listen-client-urls=https://INTERNAL_IP:2379,https://127.0.0.1:2379\
  --listen-metrics-urls=http://INTERNAL_IP:2381,http://127.0.0.1:2331\
  --listen-peer-urls=https://INTERNAL_IP:2380,https://127.0.0.1:2380\
  --logger=zap\
  --log-level=info\
  --log-outputs=stderr\
  --name=ETCD_NAME\
  --peer-cert-file=/etc/etcd/kubernetes.pem\
  --peer-client-cert-auth\
  --peer-key-file=/etc/etcd/kubernetes-key.pem\
  --peer-trusted-ca-file=/etc/etcd/ca.pem\
  --trusted-ca-file=/etc/etcd/ca.pem
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
