kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
authentication:
  anonymous:
    enabled: false
  webhook:
    enabled: true
  x509:
    clientCAFile: /var/lib/kubernetes/ca.pem
authorization:
  mode: Webhook
cgroupDriver: systemd
clusterDNS:
- 10.32.0.10
clusterDomain: cluster.local
containerRuntimeEndpoint: unix:///run/containerd/containerd.sock
registerNode: true
resolvConf: /etc/resolv.conf
runtimeRequestTimeout: 15m
staticPodPath: /etc/desktop-kubernetes/static-pods
tlsCertFile: /var/lib/kubelet/kubelet.pem
tlsPrivateKeyFile: /var/lib/kubelet/kubelet-key.pem
